#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit"), url(./assets/font/Outfit-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Outfit Bold";
  src: local("Outfit Bold"),
    url(./assets/font/Outfit-Bold.ttf) format("truetype");
}

* {
  font-family: Outfit, serif;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
body {
  background-color: var(--Light-gray);
}
.app {
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
}
.card {
  width: 260px;
  background-color: var(--White);
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}
.qr-code-image > img {
  border-radius: 10px;
  width: 100%;
}
.qr-code-title {
  font-family: "Outfit Bold", serif;
  font-size: 20px;
  color: var(--Dark-blue);
  padding-top: 20px;
  padding-bottom: 20px;
}
.qr-code-detail {
  color: var(--Grayish-blue);
  padding-bottom: 20px;
}
.read-the-docs {
  color: #888;
}
